# configuration file for venture2 database
dbUser = "ve002"
#dbPassword = "n%N6qYp6HBal"
dbAuthentication = "keypair:/home/mre/dox/repos/groovysql/tests/snowflake_aj85646_ve002_rsa_key_crypt.p8:8647"
dbScheme = "snowflake"
dbHost = "mpdffni-aj85646.snowflakecomputing.com:443"
dbName = "COVID19_EPIDEMIOLOGICAL_DATA"
#dbClass = "net.snowflake.client.jdbc.SnowflakeDriver"
#dbOptions.opt1 = "queryTimeout=10"
# see https://docs.snowflake.com/en/developer-guide/jdbc/jdbc-parameters#tracing
#dbOptions.opt2 = "tracing=OFF"
#dbOptions.opt2 = "tracing=ALL"
#-----
dbLocator = "DN95777"
dbOrg = "MPDFFNI"
dbAccount = "AJ85646"
dbRole = "ACCOUNTADMIN"
dbWarehouse = "COMPUTE_WH"
#-----
timestamps = false
csvheaders = false
jsonstyle = "spread"
append = true
format = "json"
