# configuration file for venture2 database
dbUser = "mre"
dbPassword = "n%N6qYp6HBal"
dbScheme = "snowflake"
dbHost = "mpdffni-aj85646.snowflakecomputing.com:443"
dbName = "COVID19_EPIDEMIOLOGICAL_DATA"
dbClass = "net.snowflake.client.jdbc.SnowflakeDriver"
dbOptions.opt1 = "queryTimeout=1"
#dbOptions.opt2 = "tracing=ALL"

